1. Fabric/flows/Copilot_Consumption_SharePoint_to_OneLake.json
{
  "$comment": "Power Automate / Logic Apps flow definition. SHAREPOINT PATH variant. Many customers prefer to drop the Power Platform consumption exports into a governed SharePoint document library rather than emailing them. This flow fires when a CSV is created/modified in that library and mirrors it into the Fabric Lakehouse Files/credit_consumption folder via the OneLake DFS (ADLS Gen2) API. Import via Power Automate > My flows > Import, then fix up the SharePoint connection + parameter values. See README.md.",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
      "$connections": { "defaultValue": {}, "type": "Object" },
      "SharePointSite": {
        "defaultValue": "https://contoso.sharepoint.com/sites/CopilotAnalytics",
        "type": "String",
        "metadata": { "description": "SharePoint site that holds the drop library." }
      },
      "SharePointLibrary": {
        "defaultValue": "Shared Documents",
        "type": "String"
      },
      "SharePointFolder": {
        "defaultValue": "/Copilot Consumption Drop",
        "type": "String",
        "metadata": { "description": "Folder watched for new consumption CSVs." }
      },
      "OneLakeWorkspace": { "defaultValue": "Copilot Analytics Demo", "type": "String" },
      "OneLakeLakehouse": { "defaultValue": "CopilotAdoptionLake", "type": "String" },
      "TargetFolder": {
        "defaultValue": "Files/credit_consumption",
        "type": "String",
        "metadata": { "description": "Destination folder inside the lakehouse. Matches SOURCE_DIR in Copilot_Credit_Consumption_Ingester.ipynb." }
      },
      "TenantId":     { "defaultValue": "<tenant-guid>", "type": "String" },
      "ClientId":     { "defaultValue": "<app-reg-client-id>", "type": "String" },
      "ClientSecret": { "defaultValue": "<keyvault-reference>", "type": "SecureString" }
    },
    "triggers": {
      "When_a_file_is_created_or_modified_(properties_only)": {
        "type": "OpenApiConnection",
        "recurrence": { "frequency": "Minute", "interval": 15 },
        "inputs": {
          "host": {
            "connectionName": "shared_sharepointonline",
            "operationId": "GetOnUpdatedFileItems",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
          },
          "parameters": {
            "dataset": "@parameters('SharePointSite')",
            "table": "@parameters('SharePointLibrary')",
            "folderPath": "@parameters('SharePointFolder')"
          }
        }
      }
    },
    "actions": {
      "Only_consumption_CSVs": {
        "type": "If",
        "expression": {
          "and": [
            { "endsWith": [ "@toLower(triggerOutputs()?['body/{FilenameWithExtension}'])", ".csv" ] },
            { "startsWith": [ "@toLower(triggerOutputs()?['body/{FilenameWithExtension}'])", "entitlementconsumption" ] }
          ]
        },
        "actions": {
          "Get_file_content": {
            "type": "OpenApiConnection",
            "inputs": {
              "host": {
                "connectionName": "shared_sharepointonline",
                "operationId": "GetFileContent",
                "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
              },
              "parameters": {
                "dataset": "@parameters('SharePointSite')",
                "id": "@triggerOutputs()?['body/{Identifier}']"
              }
            }
          },
          "Create_file_PUT": {
            "type": "Http",
            "runAfter": { "Get_file_content": [ "Succeeded" ] },
            "inputs": {
              "method": "PUT",
              "uri": "https://onelake.dfs.fabric.microsoft.com/@{encodeURIComponent(parameters('OneLakeWorkspace'))}/@{encodeURIComponent(concat(parameters('OneLakeLakehouse'), '.Lakehouse'))}/@{parameters('TargetFolder')}/@{triggerOutputs()?['body/{FilenameWithExtension}']}?resource=file",
              "authentication": {
                "type": "ActiveDirectoryOAuth",
                "authority": "https://login.microsoftonline.com",
                "tenant": "@parameters('TenantId')",
                "audience": "https://storage.azure.com/",
                "clientId": "@parameters('ClientId')",
                "secret": "@parameters('ClientSecret')"
              }
            }
          },
          "Append_content_PATCH": {
            "type": "Http",
            "runAfter": { "Create_file_PUT": [ "Succeeded" ] },
            "inputs": {
              "method": "PATCH",
              "uri": "https://onelake.dfs.fabric.microsoft.com/@{encodeURIComponent(parameters('OneLakeWorkspace'))}/@{encodeURIComponent(concat(parameters('OneLakeLakehouse'), '.Lakehouse'))}/@{parameters('TargetFolder')}/@{triggerOutputs()?['body/{FilenameWithExtension}']}?action=append&position=0",
              "headers": { "Content-Type": "application/octet-stream" },
              "body": "@body('Get_file_content')",
              "authentication": {
                "type": "ActiveDirectoryOAuth",
                "authority": "https://login.microsoftonline.com",
                "tenant": "@parameters('TenantId')",
                "audience": "https://storage.azure.com/",
                "clientId": "@parameters('ClientId')",
                "secret": "@parameters('ClientSecret')"
              }
            }
          },
          "Flush_content_PATCH": {
            "type": "Http",
            "runAfter": { "Append_content_PATCH": [ "Succeeded" ] },
            "inputs": {
              "method": "PATCH",
              "uri": "https://onelake.dfs.fabric.microsoft.com/@{encodeURIComponent(parameters('OneLakeWorkspace'))}/@{encodeURIComponent(concat(parameters('OneLakeLakehouse'), '.Lakehouse'))}/@{parameters('TargetFolder')}/@{triggerOutputs()?['body/{FilenameWithExtension}']}?action=flush&position=@{length(body('Get_file_content'))}",
              "authentication": {
                "type": "ActiveDirectoryOAuth",
                "authority": "https://login.microsoftonline.com",
                "tenant": "@parameters('TenantId')",
                "audience": "https://storage.azure.com/",
                "clientId": "@parameters('ClientId')",
                "secret": "@parameters('ClientSecret')"
              }
            }
          }
        },
        "else": { "actions": {} }
      }
    }
  }
}
